/**
 *
 * Modules
 *
 */

@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  align-items: center;
  background: transparent;
  cursor: text;
  display: grid;
  gap: var(--ezp-spacing-3);
  grid-template: var(--ezp-input-grid-template, auto / auto auto 1fr);
  height: 56px;
  padding: var(--ezp-spacing-2) var(--ezp-spacing-3);
  position: relative;
  z-index: var(--ezp-input-z-index, 3);

  @at-root {
    #{&}([suffix]) {
      --ezp-input-grid-template: auto / auto auto 1fr auto;
      --ezp-input-input-padding-right: 0;
    }

    #{&}(.focused) {
      --ezp-input-label-color: var(--ezp-core-foreground-primary);
    }
  }
}

#label {
  color: var(--ezp-input-label-color, var(--ezp-core-foreground-primary));
}

#icon {
  --ezp-icon-background: var(--ezp-theme-translucent);
  --ezp-icon-borderRadius: 50%;
  --ezp-icon-height: 40px;
  --ezp-icon-width: 40px;

  color: var(--ezp-input-icon-color, var(--ezp-theme-solid));
}

#input {
  appearance: textfield;
  background: transparent;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--ezp-core-foreground-primary);
  cursor: text;
  font-family: inherit;
  font-feature-settings: 'tnum';
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  letter-spacing: #{global.getLetterSpacing(14px)};
  margin: 0;
  outline: none;
  padding: 0 var(--ezp-input-input-padding-right, var(--ezp-spacing-1)) 0 0;
  text-align: right;
  width: 100%;

  &::placeholder {
    color: var(--ezp-core-foreground-tertiary);
    font-weight: 400;
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

#suffix {
  color: var(--ezp-core-foreground-tertiary);
}
