/**
 *
 * Modules
 *
 */

@use './ejs-typo-paragraph.m' as self;
@use './../../shared/global.m' as global;

/**
 *
 * Rules
 *
 */

:host {
  /** @prop --paragraph-height: Description... */
  --paragraph-height: initial;

  /** @prop --paragraph-offset: Description... */
  --paragraph-offset: 0;

  /** @prop --paragraph-size: Description... */
  --paragraph-size: initial;

  /** @prop --paragraph-spacing: Description... */
  --paragraph-spacing: initial;

  /** @prop --paragraph-weight: Description... */
  --paragraph-weight: inherit;

  display: block;
}

@include global.typo-level-declaration(self.$levels, 'paragraph');
@include global.typo-weight-declaration('paragraph');

#paragraph {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  letter-spacing: var(--paragraph-spacing);
  line-height: var(--paragraph-height);
  margin: 0;

  @include global.typo-trim-offset('paragraph');
}
