/**
 *
 * Modules
 *
 */

@use './ezp-icon-button.m' as self;

/**
 *
 * Rules
 *
 */

:host {
  --button-background-active: transparent;
  --button-background-disabled: transparent;
  --button-background-hover: transparent;
  --button-background-init: transparent;
  --button-background: var(--button-background-init);
  --button-color-disabled: inherit;
  --button-color-init: inherit;
  --button-color: var(--button-color-init);
  --button-cursor: pointer;
  --button-opacity-active: 1;
  --button-opacity-hover: 1;
  --button-opacity-init: 1;
  --button-opacity: var(--button-opacity-init);

  display: block;

  @at-root {
    #{&}(.primary) {
      --button-background-active: var(--color-main-tertiary);
      --button-background-disabled: var(--color-shade-primary);
      --button-background-hover: var(--color-main-secondary);
      --button-background-init: var(--color-main-primary);
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-on-main-primary);
    }

    #{&}(.secondary) {
      --button-background-active: var(--color-shade-tertiary);
      --button-background-disabled: var(--color-shade-primary);
      --button-background-hover: var(--color-shade-secondary);
      --button-background-init: var(--color-shade-primary);
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-main-primary);
    }

    #{&}(.tertiary) {
      --button-background-active: var(--color-shade-secondary);
      --button-background-hover: var(--color-shade-primary);
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-main-primary);
    }

    #{&}(.quaternary) {
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-main-primary);
      --button-opacity-active: 0.42;
      --button-opacity-hover: 0.68;
    }
  }
}

#button {
  align-items: center;
  appearance: none;
  background: var(--button-background);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: var(--button-color);
  cursor: var(--button-cursor);
  display: flex;
  justify-content: center;
  margin: 0;
  opacity: var(--button-opacity);
  outline: none;
  padding: var(--spacing-1);
  width: var(--button-size);

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        --button-background: var(--button-background-hover);
        --button-opacity: var(--button-opacity-hover);
      }

      &:active {
        --button-background: var(--button-background-active);
        --button-opacity: var(--button-opacity-active);
      }
    }
  }

  &:disabled {
    --button-background: var(--button-background-disabled);
    --button-color: var(--button-color-disabled);
    --button-cursor: not-allowed;
  }
}
