/**
 *
 * Rules
 *
 */

:host {
  display: block;

  @at-root {
    #{&}(.primary) {
      --ezp-iconButton-background-disabled: var(--ezp-color-shade-primary);
      --ezp-iconButton-background-init: var(--ezp-color-theme-solid);
      --ezp-iconButton-color-disabled: var(--ezp-color-foreground-tertiary);
      --ezp-iconButton-color-init: var(--ezp-color-on-theme);
      --ezp-iconButton-opacity-active: 0.74;
      --ezp-iconButton-opacity-hover: 0.84;
    }

    #{&}(.secondary) {
      --ezp-iconButton-background-active: var(--ezp-color-shade-tertiary);
      --ezp-iconButton-background-disabled: var(--ezp-color-shade-primary);
      --ezp-iconButton-background-hover: var(--ezp-color-shade-secondary);
      --ezp-iconButton-background-init: var(--ezp-color-shade-primary);
      --ezp-iconButton-color-disabled: var(--ezp-color-foreground-tertiary);
      --ezp-iconButton-color-init: var(--ezp-color-theme-solid);
    }

    #{&}(.tertiary) {
      --ezp-iconButton-background-active: var(--ezp-color-shade-secondary);
      --ezp-iconButton-background-hover: var(--ezp-color-shade-primary);
      --ezp-iconButton-background-init: transparent;
      --ezp-iconButton-color-disabled: var(--ezp-color-foreground-tertiary);
      --ezp-iconButton-color-init: var(--ezp-color-theme-solid);
    }

    #{&}(.quaternary) {
      --ezp-iconButton-background-init: transparent;
      --ezp-iconButton-color-disabled: var(--ezp-color-foreground-tertiary);
      --ezp-iconButton-color-init: var(--ezp-color-theme-solid);
      --ezp-iconButton-opacity-active: 0.58;
      --ezp-iconButton-opacity-hover: 0.74;
    }
  }
}

#button {
  align-items: center;
  appearance: none;
  background: var(--ezp-iconButton-background, var(--ezp-iconButton-background-init));
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: var(--ezp-iconButton-color, var(--ezp-iconButton-color-init));
  cursor: var(--ezp-iconButton-cursor, pointer);
  display: flex;
  justify-content: center;
  margin: 0;
  opacity: var(--ezp-iconButton-opacity, 1);
  outline: none;
  padding: var(--ezp-spacing-2);

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        --ezp-iconButton-background: var(
          --ezp-iconButton-background-hover,
          var(--ezp-iconButton-background-init)
        );
        --ezp-iconButton-opacity: var(--ezp-iconButton-opacity-hover, 1);
      }

      &:active {
        --ezp-iconButton-background: var(
          --ezp-iconButton-background-active,
          var(--ezp-iconButton-background-init)
        );
        --ezp-iconButton-opacity: var(--ezp-iconButton-opacity-active, 1);
      }
    }
  }

  &:disabled {
    --ezp-iconButton-background: var(
      --ezp-iconButton-background-disabled,
      var(--ezp-iconButton-background-init)
    );
    --ezp-iconButton-color: var(--ezp-iconButton-color-disabled);
    --ezp-iconButton-cursor: default;
  }
}
