/**
 *
 * Modules
 *
 */

@use 'sass:list';
@use './../../shared/global';

/**
 *
 * Variables
 *
 */

$levels: (
  'primary': (
    18px,
    24px,
  ),
  'secondary': (
    15px,
    20px,
  ),
  'tertiary': (
    12px,
    16px,
  ),
);
$weights: (
  'soft': 400,
  'strong': 500,
  'heavy': 600,
);

/**
 *
 * Rules
 *
 */

:host {
  display: block;
  min-width: var(--minWidth, auto);
  padding-bottom: 1px;
  padding-top: 1px;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
  }

  &::before {
    margin-top: calc((var(--offset) + 1px) * -1);
  }

  &::after {
    margin-bottom: calc((var(--offset) + 1px) * -1);
  }

  @at-root {
    #{&}(.no-wrap) {
      --whiteSpace: nowrap;
    }

    #{&}(.ellipsis) {
      --minWidth: 0;
      --overflow: hidden;
      --textOverflow: ellipsis;
      --whiteSpace: nowrap;
      --width: 100%;
    }
    @each $levelName, $levelProps in $levels {
      #{&}(.#{$levelName}) {
        $fontSize: list.nth($levelProps, 1);
        $lineHeight: list.nth($levelProps, 2);
        $letterSpacing: global.getLetterSpacing($fontSize);
        $offset: global.getOffset($fontSize, $lineHeight);

        --fontSize: #{$fontSize};
        --lineHeight: #{$lineHeight};
        --letterSpacing: #{$letterSpacing};
        --offset: #{$offset};
      }
    }

    @each $weightName, $weightValue in $weights {
      #{&}(.#{$weightName}) {
        --fontWeight: #{$weightValue};
      }
    }
  }
}

#text {
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  letter-spacing: var(--letterSpacing);
  line-height: var(--lineHeight);
  overflow: var(--overflow, visible);
  text-overflow: var(--textOverflow, clip);
  white-space: var(--whiteSpace, normal);
  width: var(--width, auto);
}
