/**
 *
 * Modules
 *
 */

@use './ezp-icon.m' as self;

/**
 *
 * Rules
 *
 */

:host {
  /** @prop --host-size: Description... */
  --host-size: auto;

  display: block;
  height: var(--host-size);
  width: var(--host-size);

  @at-root {
    #{&}(.normal) {
      --host-size: 22px;
    }

    #{&}(.large) {
      --host-size: 44px;
    }
  }
}

#glyph {
  display: block;
  fill: currentColor;
  height: 100%;
  width: 100%;
}
