/**
 *
 * Rules
 *
 */

:host {
  align-content: center;
  background: var(--host-background, transparent);
  border-radius: var(--host-borderRadius, 0);
  display: grid;
  grid-template: var(--host-gridTemplate) / var(--host-gridTemplate);
  height: var(--ezp-icon-height, var(--host-size));
  justify-content: center;
  padding: var(--host-padding, 0);
  width: var(--ezp-icon-width, var(--host-size));

  @at-root {
    #{&}(.framed) {
      --host-background: var(--ezp-color-shade-primary);
      --host-borderRadius: 50%;
      --host-padding: var(--host-frame);
    }

    #{&}(.normal) {
      --host-size: 18px;
      --host-gridTemplate: 24px;
      --host-frame: var(--ezp-spacing-3);
    }

    #{&}(.large) {
      --host-size: 36px;
      --host-gridTemplate: 48px;
      --host-frame: var(--ezp-spacing-4);
    }

    #{&}(.huge) {
      --host-size: 54px;
      --host-gridTemplate: 72px;
      --host-frame: var(--ezp-spacing-5);
    }
  }
}

svg {
  display: block;
  fill: var(--ezp-icon-fill, currentColor);
  height: 100%;
  width: 100%;
}
