/**
 *
 * Modules
 *
 */

@use './ejs-typo-body.m' as self;
@use './../../shared/global.m' as global;

/**
 *
 * Rules
 *
 */

:host {
  /** @prop --body-height: Description... */
  --body-height: initial;

  /** @prop --body-offset: Description... */
  --body-offset: 0;

  /** @prop --body-size: Description... */
  --body-size: initial;

  /** @prop --body-spacing: Description... */
  --body-spacing: initial;

  /** @prop --body-weight: Description... */
  --body-weight: inherit;

  display: block;
}

@include global.typo-level-declaration(self.$levels, 'body');
@include global.typo-weight-declaration('body');

#body {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  letter-spacing: var(--body-spacing);
  line-height: var(--body-height);
  margin: 0;

  @include global.typo-trim-offset('body');
}
