/**
 *
 * Modules
 *
 */

@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  align-content: center;
  background: var(--ezp-core-backdrop);
  display: grid;
  grid-template: auto / 320px;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

#box {
  background: var(--ezp-core-surface-tertiary);
  border-radius: 6px;
  box-shadow: var(
    --ezp-printerSelection-box-boxShadow,
    0 0 0 1px var(--ezp-black-10)
  );
  position: relative;
}

#header {
  border-radius: 6px 6px 0 0;
  box-shadow: var(--ezp-printerSelection-header-boxShadowPosition, 0 1px 0 0)
    var(--ezp-core-outline);
  color: var(--ezp-core-foreground-primary);
  display: grid;
  grid-column-gap: var(--ezp-spacing-2);
  grid-template-columns: auto 1fr auto;
  padding: var(--ezp-spacing-4) var(--ezp-spacing-3) var(--ezp-spacing-4) var(--ezp-spacing-4);
  position: relative;
  z-index: 3;
}

#toggle-menu {
  margin: calc(var(--ezp-spacing-3) * -1) 0;
  position: relative;
  z-index: 2;
}

#body {
  background: var(--ezp-core-surface-secondary);
  box-shadow: var(--ezp-printerSelection-body-boxShadow, none);
  display: flex;
  flex-direction: column;
  gap: var(--ezp-spacing-2);
  padding: var(--ezp-spacing-2);
}

#footer {
  border-radius: 0 0 6px 6px;
  box-shadow: var(--ezp-printerSelection-footer-boxShadowPosition, 0 -1px 0 0)
    var(--ezp-core-outline);
  display: grid;
  grid-column-gap: var(--ezp-spacing-2);
  grid-template-columns: repeat(2, 1fr);
  padding: var(--ezp-spacing-2);
  position: relative;
  z-index: 3;
}
