/**
 *
 * Rules
 *
 */

:host {
  display: flex;

  @at-root {
    #{&}(.primary) {
      --button-background-disabled: var(--color-shade-primary);
      --button-background-init: var(--color-theme-solid);
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-on-theme);
      --button-opacity-active: 0.74;
      --button-opacity-hover: 0.84;
    }

    #{&}(.secondary) {
      --button-background-active: var(--color-shade-tertiary);
      --button-background-disabled: var(--color-shade-primary);
      --button-background-hover: var(--color-shade-secondary);
      --button-background-init: var(--color-shade-primary);
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-theme-solid);
    }

    #{&}(.tertiary) {
      --button-background-active: var(--color-shade-secondary);
      --button-background-disabled: transparent;
      --button-background-hover: var(--color-shade-primary);
      --button-background-init: transparent;
      --button-color-disabled: var(--color-foreground-tertiary);
      --button-color-init: var(--color-theme-solid);
    }
  }
}

.button {
  align-items: center;
  appearance: none;
  background: var(--button-background, var(--button-background-init));
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: var(--button-color, var(--button-color-init));
  cursor: var(--button-cursor, pointer);
  display: flex;
  font-family: inherit;
  justify-content: center;
  margin: 0;
  opacity: var(--button-opacity, 1);
  outline: none;
  padding: var(--spacing-3);
  white-space: nowrap;
  width: 100%;

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        --button-background: var(--button-background-hover, var(--button-background-init));
        --button-opacity: var(--button-opacity-hover, 1);
      }

      &:active {
        --button-background: var(--button-background-active, var(--button-background-init));
        --button-opacity: var(--button-opacity-active, 1);
      }
    }
  }

  &:disabled {
    --button-background: var(--button-background-disabled);
    --button-color: var(--button-color-disabled);
    --button-cursor: not-allowed;
  }
}
