/**
 *
 * Modules
 *
 */

@use './ejs-input-select.m' as self;
@use './../../shared/global.m' as global;

/**
 *
 * Rules
 *
 */

:host {
  /** @prop --details-shadow: Description... */
  --details-shadow: none;

  /** @prop --details-template: Description... */
  --details-template: auto / 1fr;

  /** @prop --host-shadow: Description... */
  --host-shadow: 0 0 0 0.5px;

  /** @prop --indicator-duration: Description... */
  --indicator-duration: 0.25s;

  /** @prop --indicator-opacity: Description... */
  --indicator-opacity: 0;

  /** @prop --indicator-transform: Description... */
  --indicator-transform: translateX(var(--spacing-3));

  /** @prop --indicator-transition: Description... */
  --indicator-transition: opacity var(--indicator-duration) var(--easing-out-quart),
    transform var(--indicator-duration) var(--easing-out-quart),
    visibility var(--indicator-duration) var(--indicator-duration);

  /** @prop --indicator-visibility: Description... */
  --indicator-visibility: hidden;

  /** @prop --list-shadow: Description... */
  --list-shadow: inset 0 0.5px 0 0;

  /** @prop --option-background: Description... */
  --option-background: transparent;

  background: var(--color-surface-tertiary);
  border-radius: 3px;
  box-shadow: var(--host-shadow) var(--color-outline-translucent-tertiary);
  display: block;

  @include global.media-appearance('dark') {
    --host-shadow: inset 0 0 0 0.5px;
    --list-shadow: 0 -0.5px 0 0;
  }
}

#toggle {
  align-items: center;
  display: grid;
  grid-gap: 0 var(--spacing-3);
  grid-template: auto / 1fr auto;
  padding: 0 var(--spacing-3);
}

#result {
  display: grid;
  grid-gap: 0 var(--spacing-3);
  grid-template: auto / 1fr auto;
  padding: var(--spacing-3) 0;
}

#label {
  color: var(--color-foreground-secondary);
}

#value {
  color: var(--color-foreground-primary);
}

#accessory {
  color: var(--color-foreground-secondary);
}

#list {
  box-shadow: var(--list-shadow) var(--color-outline-translucent-tertiary);
}

.option {
  align-items: center;
  background: var(--option-background);
  cursor: pointer;
  display: grid;
  grid-template: auto / auto 1fr;

  &:not(:first-child) {
    --details-shadow: 0 -0.5px 0 0 var(--color-outline-translucent-tertiary);
  }

  &:hover {
    --option-background: var(--color-shade-primary);

    &,
    + .option {
      --details-shadow: none;
    }
  }

  &:active {
    --option-background: var(--color-shade-secondary);
  }

  &.has-meta {
    --details-template: repeat(2, auto) / 1fr;
  }

  &.is-selected {
    --indicator-opacity: 1;
    --indicator-transform: translateX(0);
    --indicator-transition: opacity var(--indicator-duration) var(--easing-out-quart),
      transform var(--indicator-duration) var(--easing-out-quart),
      visibility var(--indicator-duration) 0s;
    --indicator-visibility: visible;
  }
}

.indicator {
  color: var(--color-foreground-secondary);
  grid-area: var(--indicator-area);
  margin: 0 var(--spacing-3);
  opacity: var(--indicator-opacity);
  transform: var(--indicator-transform);
  transition: var(--indicator-transition);
  visibility: var(--indicator-visibility);
}

.details {
  box-shadow: var(--details-shadow);
  display: grid;
  grid-gap: var(--spacing-3) 0;
  grid-template: var(--details-template);
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) 0;
}

.title {
  color: var(--color-foreground-primary);
}

.meta {
  color: var(--color-foreground-secondary);
}
