/**
 *
 * Modules
 *
 */

@use './ejs-icon.m' as self;

/**
 *
 * Rules
 *
 */

:host {
  /** @prop --host-size: Description... */
  --host-size: 24px;

  display: block;
  height: var(--host-size);
  width: var(--host-size);
}

#glyph {
  display: block;
  fill: currentColor;
  height: 100%;
  width: 100%;
}
