/**
 *
 * Rules
 *
 */

:host {
  align-content: center;
  background: var(--ezp-upload-background, transparent);
  border: 1px dashed var(--ezp-upload-border-color, var(--ezp-core-foreground-tertiary));
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--ezp-core-foreground-primary);
  display: grid;
  grid-template: auto / minmax(auto, 280px);
  height: var(--ezp-upload-height, auto);
  justify-content: center;
  padding: var(--ezp-spacing-3);
  position: relative;
  transition: background-color var(--ezp-duration-3) var(--ezp-easing-out-quart),
    border-color var(--ezp-duration-3) var(--ezp-easing-out-quart);
  width: var(--ezp-upload-width, auto);

  @at-root {
    #{&}(.dragging) {
      --ezp-upload-background: var(--ezp-theme-translucent);
      --ezp-upload-border-color: var(--ezp-theme-translucent);
      --ezp-upload-header-blur: 16px;
      --ezp-upload-header-opacity: 0.42;
    }
  }
}

#header {
  --ezp-icon-fill: var(--ezp-theme-solid);

  align-items: center;
  display: flex;
  filter: blur(var(--ezp-upload-header-blur, 0));
  flex-direction: column;
  gap: var(--ezp-spacing-5);
  opacity: var(--ezp-upload-header-opacity, 1);
  text-align: center;
  transition: filter var(--ezp-duration-3) var(--ezp-easing-out-quart),
    opacity var(--ezp-duration-3) var(--ezp-easing-out-quart);
}

#meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ezp-spacing-3) 3px;
  justify-content: center;
}

#select {
  color: var(--ezp-theme-solid);
  cursor: pointer;
  opacity: var(--ezp-upload-select-opacity, 1);
  text-decoration: underline;
  white-space: nowrap;

  @media (hover: hover) {
    &:hover {
      --ezp-upload-select-opacity: 0.58;
    }
  }
}

#input {
  appearance: none;
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

#file-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  overflow-y: auto;
}

.file-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--ezp-spacing-3);
  padding: var(--ezp-spacing-2) var(--ezp-spacing-3);
  background: var(--ezp-core-background-secondary);
  border-radius: 3px;
  min-height: 32px;
}

.file-name {
  grid-column: 1;
  min-width: 0;

  ezp-label {
    --ezp-label-minWidth: 0;
  }
}

.file-remove {
  grid-column: 2;
  display: flex;
  align-items: center;
}
