/**
 *
 * Modules
 *
 */

@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  background: var(--color-surface-tertiary);
  border-radius: 6px;
  box-shadow: var(--host-separator-position, 0 0 0 var(--hairline-width-positive))
    var(--hairline-color);
  display: block;
  // left: var(--spacing-7);
  opacity: var(--host-opacity, 0);
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(var(--host-scale, 0.94, 0.94));
  transform-origin: right top;
  transition: var(
    --host-transition,
    opacity var(--duration-3) var(--easing-out-quart),
    transform var(--duration-3) var(--easing-out-quart),
    visibility 0s var(--duration-3)
  );
  visibility: var(--host-visibility, hidden);
  z-index: 5;

  @at-root {
    #{&}(.is-open) {
      --host-opacity: 1;
      --host-scale: 1, 1;
      --host-transition: opacity var(--duration-3) var(--easing-out-quart),
        transform var(--duration-3) var(--easing-out-quart), visibility 0s 0s;
      --host-visibility: visible;
    }
  }

  @include global.media-appearance('dark') {
    --host-separator-position: inset 0 0 0 var(--hairline-width-positive);
  }
}

#header {
  align-items: center;
  box-shadow: 0 var(--hairline-width-positive) 0 0 var(--hairline-color);
  box-shadow: 0;
  display: grid;
  grid-template: auto / 1fr auto;
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-4) var(--spacing-4);
}

#name {
  color: var(--color-foreground-primary);
}

#close {
  margin: calc(var(--spacing-3) * -1) 0;
}

#links {
  box-shadow: 0 var(--hairline-width-positive) 0 0 var(--hairline-color);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
}

.link {
  align-items: center;
  background: var(--link-background, transparent);
  border-radius: 3px;
  color: var(--color-foreground-primary);
  cursor: pointer;
  display: grid;
  gap: var(--spacing-3);
  grid-template: auto / auto 1fr;
  padding: var(--spacing-3);
  text-decoration: none;

  &:hover {
    --link-background: var(--color-shade-primary);
  }

  &__icon {
    color: var(--color-theme-solid);
    margin: calc(var(--spacing-2) * -1) 0;
  }
}

#theme {
  display: grid;
  gap: var(--spacing-3);
  grid-template: repeat(2, auto) / 1fr;
  padding: var(--spacing-4) var(--spacing-4) var(--spacing-3);
}

#swatches {
  display: flex;
  margin: 0 calc(var(--spacing-2) * -1);
}

.swatch {
  align-items: center;
  appearance: none;
  background: var(--swatch-background, transparent);
  border: 0;
  border-radius: 50%;
  color: var(--swatch-color);
  cursor: var(--swatch-cursor, pointer);
  display: flex;
  justify-content: center;
  margin: 0;
  opacity: var(--swatch-opacity, 1);
  outline: none;
  padding: var(--spacing-2);

  &:not(.selected) {
    @media (hover: hover) {
      &:hover {
        --swatch-background: var(--swatch-theme-translucent);
      }

      &:active {
        --swatch-opacity: 0.74;
      }
    }
  }

  &.selected {
    --dot-boxShadowSize: 10px;
    --swatch-background: var(--swatch-theme-translucent);
    --swatch-cursor: normal;
    > .dot {
      animation: dot-bounce var(--duration-2) ease-in-out;
    }
  }

  @each $theme in global.$themes {
    &--#{$theme} {
      --swatch-theme-solid: var(--color-theme-#{$theme}-solid);
      --swatch-theme-translucent: var(--color-theme-#{$theme}-translucent);
    }
  }
}

.dot {
  background: var(--dot-background, transparent);
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--dot-boxShadowSize, 4px) var(--swatch-theme-solid);
  height: 18px;
  transition: box-shadow var(--duration-2);
  width: 18px;
}

@keyframes dot-bounce {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.84, 0.84);
  }

  100% {
    transform: scale(1, 1);
  }
}
