/**
 *
 * Modules
 *
 */

@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  --duration: 0.3s;
  --host-opacity: 0;
  --host-scale: 0.94, 0.94;
  --host-separator-position: 0 0 0 var(--hairline-width-positive);
  --host-transition: opacity var(--duration) var(--easing-out-quart),
    transform var(--duration) var(--easing-out-quart), visibility 0s var(--duration);
  --host-visibility: hidden;
  --link-background: transparent;

  background: var(--color-surface-tertiary);
  border-radius: 6px;
  box-shadow: var(--host-separator-position) var(--hairline-color);
  display: block;
  left: var(--spacing-7);
  opacity: var(--host-opacity);
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(var(--host-scale));
  transform-origin: right top;
  transition: var(--host-transition);
  visibility: var(--host-visibility);
  z-index: 5;

  @at-root {
    #{&}(.is-open) {
      --host-opacity: 1;
      --host-scale: 1, 1;
      --host-transition: opacity var(--duration) var(--easing-out-quart),
        transform var(--duration) var(--easing-out-quart), visibility 0s 0s;
      --host-visibility: visible;
    }
  }

  @include global.media-appearance('dark') {
    --host-separator-position: inset 0 0 0 var(--hairline-width-positive);
  }
}

#header {
  align-items: center;
  box-shadow: 0 var(--hairline-width-positive) 0 0 var(--hairline-color);
  box-shadow: 0;
  display: grid;
  grid-template: auto / 1fr auto;
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-4) var(--spacing-4);
}

#name {
  color: var(--color-foreground-primary);
}

#close {
  margin: calc(var(--spacing-3) * -1) 0;
}

#links {
  box-shadow: 0 var(--hairline-width-positive) 0 0 var(--hairline-color);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
}

.link {
  align-items: center;
  background: var(--link-background);
  border-radius: 3px;
  color: var(--color-foreground-primary);
  cursor: pointer;
  display: grid;
  gap: var(--spacing-2);
  grid-template: auto / auto 1fr;
  padding: var(--spacing-3);
  text-decoration: none;

  &:hover {
    --link-background: var(--color-shade-primary);
  }

  &__icon {
    color: var(--color-theme);
    margin: calc(var(--spacing-2) * -1) 0;
  }
}

#theme {
  display: grid;
  gap: var(--spacing-2);
  grid-template: repeat(2, auto) / 1fr;
  padding: var(--spacing-4) var(--spacing-4) var(--spacing-3);
}

#dots {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(var(--spacing-2) * -1);
}

.dot {
  border-radius: 50%;

  &--selected {
    box-shadow: inset 0 0 0 1px var(--color-theme);
  }

  @each $theme in global.$themes {
    &--#{$theme} {
      --color-theme: var(--color-theme-#{$theme});
    }
  }
}
