/**
 *
 * Modules
 *
 */

@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  align-items: center;
  background: var(--color-surface-tertiary);
  border-radius: 3px;
  box-shadow: 0 0 0 var(--hairline-width-positive) var(--hairline-color);
  display: grid;
  gap: var(--spacing-3);
  grid-template: auto / auto 1fr auto;
  padding: 0 var(--spacing-2) 0 var(--spacing-3);
}

#label {
  color: var(--color-foreground-secondary);
}

#input {
  /**
   *
   * FIXME
   *
   * - adapt font properties
   *
   */

  -moz-appearance: textfield;
  appearance: none;
  background: var(--stepper-input-background, transparent);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: var(--color-foreground-primary);
  font-family: inherit;
  font-feature-settings: 'tnum';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  letter-spacing: #{global.getLetterSpacing(14px)};
  margin: 0;
  outline: none;
  padding: 0;
  text-align: right;
  width: 100%;
}

#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 1px;
}

.button {
  align-items: center;
  appearance: none;
  background: var(--stepper-button-background, var(--color-shade-primary));
  border: 0;
  border-radius: var(--stepper-button-radius);
  box-shadow: none;
  color: var(--stepper-button-color, var(--color-foreground-secondary));
  cursor: var(--stepper-button-cursor, pointer);
  display: flex;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0 var(--spacing-1);

  &:first-child {
    --stepper-button-radius: 3px 0 0 3px;
  }

  &:last-child {
    --stepper-button-radius: 0 3px 3px 0;
  }

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        --stepper-button-background: var(--color-shade-secondary);
      }

      &:active {
        --stepper-button-background: var(--color-shade-tertiary);
      }
    }
  }

  &:disabled {
    --stepper-button-color: var(--color-foreground-tertiary);
    --stepper-button-background: transparent;
    --stepper-button-cursor: not-allowed;
  }
}
