/**
 *
 * Modules
 *
 */

@use 'sass:map';
@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;

  @include global.duration-declaration;
  @include global.spacing-declaration;
  @include global.easing-declaration;
  @include global.color-declaration('light');
  @include global.color-declaration('dark');

  @at-root {
    &,
    #{&}(.light) {
      @each $name in global.getColorNames() {
        --ezp-color-#{$name}: var(--ezp-color-#{$name}-light);
      }
    }

    #{&}(.dark) {
      @each $name in global.getColorNames() {
        --ezp-color-#{$name}: var(--ezp-color-#{$name}-dark);
      }

      --ezp-userMenu-boxShadowPosition: inset 0 0 0 1px;
      --ezp-userMenu-header-boxShadowPosition: inset 0 -1px 0 0;
      --ezp-userMenu-theme-boxShadowPosition: inset 0 -1px 0 0;
      --ezp-userMenu-links-boxShadowPosition: inset 0 -1px 0 0;
      --ezp-printerSelection-body-boxShadow: inset 1px 0 0 0 var(--ezp-color-outline), inset -1px 0 0 0 var(--ezp-color-outline);
      --ezp-printerSelection-footer-boxShadowPosition: inset 0 0 0 1px;
      --ezp-printerSelection-header-boxShadowPosition: inset 0 0 0 1px;
      --ezp-stepper-boxShadowPosition: inset 0 0 0 1px;
      --ezp-status-box-boxShadowPosition: inset 0 0 0 1px;
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $name in global.getColorNames() {
      --ezp-color-#{$name}: var(--ezp-color-#{$name}-dark);
    }

    --ezp-userMenu-boxShadowPosition: inset 0 0 0 1px;
    --ezp-userMenu-header-boxShadowPosition: inset 0 -1px 0 0;
    --ezp-userMenu-theme-boxShadowPosition: inset 0 -1px 0 0;
    --ezp-userMenu-links-boxShadowPosition: inset 0 -1px 0 0;
    --ezp-printerSelection-body-boxShadow: inset 1px 0 0 0 var(--ezp-color-outline), inset -1px 0 0 0 var(--ezp-color-outline);
    --ezp-printerSelection-footer-boxShadowPosition: inset 0 0 0 1px;
    --ezp-printerSelection-header-boxShadowPosition: inset 0 0 0 1px;
    --ezp-stepper-boxShadowPosition: inset 0 0 0 1px;
    --ezp-status-box-boxShadowPosition: inset 0 0 0 1px;
  }

  @at-root {
    @each $theme in global.$themes {
      #{&}(.#{$theme}) {
        --ezp-color-theme-solid: var(--ezp-color-theme-#{$theme}-solid);
        --ezp-color-theme-translucent: var(--ezp-color-theme-#{$theme}-translucent);
      }
    }
  }
}
