/**
 *
 * Modules
 *
 */

@use 'sass:map';
@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  // Temp
  // --ezp-upload-width: calc(80vw);
  // --ezp-upload-height: calc(80vh);

  align-content: center;
  background: var(--color-surface-primary);
  color: var(--color-foreground-primary);
  display: grid;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-template: auto / auto;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;

  @include global.duration-declaration;
  @include global.spacing-declaration;
  @include global.easing-declaration;
  @include global.hairline-width-declaration;
  @include global.hairline-color-declaration;
  @include global.color-declaration('light');
  @include global.color-declaration('dark');

  @at-root {
    &,
    #{&}(.light) {
      @each $name in global.getColorNames() {
        --color-#{$name}: var(--color-#{$name}-light);
      }
    }

    #{&}(.dark) {
      @each $name in global.getColorNames() {
        --color-#{$name}: var(--color-#{$name}-dark);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    @each $name in global.getColorNames() {
      --color-#{$name}: var(--color-#{$name}-dark);
    }
  }

  @at-root {
    @each $theme in global.$themes {
      #{&}(.#{$theme}) {
        --color-theme-solid: var(--color-theme-#{$theme}-solid);
        --color-theme-translucent: var(--color-theme-#{$theme}-translucent);
      }
    }
  }
}
