/**
 *
 * Modules
 *
 */

@use 'sass:map';
@use '@cortado-holding/colors' with (
  $namespace: 'ezp',
  $selector: ':host'
);
@use '@cortado-holding/colors/accents' with (
  $useDeclaration: false
);
@use '@cortado-holding/colors/core' with (
  $useDisplayP3: false,
  $useDeclaration: false
);
@use '@cortado-holding/colors/black';
@use '@cortado-holding/colors/white';
@use './../../shared/global';

/**
 *
 * Rules
 *
 */

:host {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt', 'liga', 'ss03', 'zero', 'cv05', 'cv10';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;

  @include global.duration-declaration;
  @include global.spacing-declaration;
  @include global.easing-declaration;

  @at-root {
    #{&}(.light) {
      @include colors.colors(map.get(accents.$palette, 'light'), 'accent');
      @include colors.colors(map.get(core.$palette, 'light'), 'core');
    }

    #{&}(.dark) {
      --ezp-dialog-box-boxShadow: inset 0 0 0 1px var(--ezp-core-outline),
        0 0 0 1px var(--ezp-black-60);
      --ezp-printerSelection-body-boxShadow: inset 1px 0 0 0 var(--ezp-core-outline),
        inset -1px 0 0 0 var(--ezp-core-outline);
      --ezp-printerSelection-box-boxShadow: 0 0 0 1px var(--ezp-black-60);
      --ezp-printerSelection-footer-boxShadowPosition: inset 0 0 0 1px;
      --ezp-printerSelection-header-boxShadowPosition: inset 0 0 0 1px;
      --ezp-select-wrap-boxShadowPositionBottom: inset 0 -1px 0 0;
      --ezp-select-wrap-boxShadowPositionLeft: inset 1px 0 0 0;
      --ezp-select-wrap-boxShadowPositionRight: inset -1px 0 0 0;
      --ezp-select-wrap-boxShadowPositionTop: inset 0 1px 0 0;
      --ezp-status-box-boxShadow: inset 0 0 0 1px var(--ezp-core-outline),
        0 0 0 1px var(--ezp-black-60);
      --ezp-stepper-boxShadowPosition: inset 0 0 0 1px;
      --ezp-userMenu-boxShadow: inset 0 0 0 1px var(--ezp-core-outline),
        0 0 0 1px var(--ezp-black-60);
      --ezp-userMenu-header-boxShadowPosition: inset 0 -1px 0 0;
      --ezp-userMenu-links-boxShadowPosition: inset 0 -1px 0 0;
      --ezp-userMenu-theme-boxShadowPosition: inset 0 -1px 0 0;

      @include colors.colors(map.get(accents.$palette, 'dark'), 'accent');
      @include colors.colors(map.get(core.$palette, 'dark'), 'core');
    }

    #{&}(.seamless) {
      --ezp-status-border-radius: 0;
      --ezp-backdrop-border-radius: 0;
    }

    @each $theme in global.$themes {
      #{&}(.#{$theme}) {
        --ezp-theme-solid: var(--ezp-accent-#{$theme}-solid);
        --ezp-theme-translucent: var(--ezp-accent-#{$theme}-translucent);
      }
    }
  }
}
