/**
 *
 * Rules
 *
 */

:host {
  animation: var(--host-animation-name, host-in) var(--duration-3) forwards var(--easing-out-quart);
  background: var(--color-overlay);
  border-radius: 6px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;

  @at-root {
    #{&}(.hide) {
      --host-animation-name: host-out;
    }
  }

  @keyframes host-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes host-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
